
.SectionWithBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 248px;


}

.AboutSectionWithBlocks-container {
    display: flex;
}

.SectionWithBlocks-panel {
    display: flex;
    width: 50%;
    padding: 106px 24px;
    background: var(--backgroundAccentMedium);
    text-align: center;
    justify-content: center;


}

.SectionWithBlocks-panelStart {
    display: flex;

    padding: 64px 0;

}

.SectionWithBlocks-panelEnd {
background: var(--backgroundAccent);

}

.SectionWithBlocks-panelContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;


}


.SectionWithBlocks-input {
    width: auto;
    height: 64px;
    font-size: 20px;
    background: inherit;
    border: 1px solid #e2e2e2;
    color: white;
    padding: 0 54px;

}

.SectionWithBlocks-inputTwo {
    background: var(--backgroundLight);
    color: #5889FF;

}

