.About-hero {
    min-height: 360px;
    padding-top: 80px;
}

.About-SectionContentWithImage_gradient {
    color: white;
    background: linear-gradient(to bottom,
    var(--backgroundDark) 0%,
    var(--backgroundDark) 20%,
    var(--backgroundAccent) 300%,
    var(--backgroundAccent) 100%
    );


}
.AboutSectionContentWithImage-button1 {
    font: var(--typography-h4);
    padding: 18px 30px;
    border: none;


}
.AboutSectionContentWithImage-button2 {
    font: var(--typography-h4);
    padding: 18px 30px;
    background: var(--backgroundLight);
    border: none;
    opacity: 0.2;

}