.HomeCollaborateForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 0;

}

.HomeCollaborateForm-form {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    align-items: flex-start;

}


.HomeCollaborateForm-row {
    display: flex;



}

.HomeCollaborateForm-row .HomeCollaborateForm-field {
    flex-grow: 1;
}

.HomeCollaborateForm-field {
    margin: 12px 8px 0 0;

}

.HomeCollaborateForm-fieldInput {
    background-color: #002FCF;
    border: 0;
    margin: 8px 32px 40px 0;
    width: 276px;
    height: 64px;
    outline: none;
    color: white;


}

.HomeCollaborateForm-fieldInput::placeholder {
    color: #2752E3;
    padding: 16px;
    font-size: 20px;

}

textarea.HomeCollaborateForm-fieldInput {
    display: block;
    width: 592px;
    resize: none;
    height: 158px;
    margin-bottom: 36px;

}

.HomeCollaborateForm-button {
    width: 244px;
    height: 56px;
    color: var(--backgroundAccent);
    font-weight: 700;
}
