.HomeCollaborateForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.HomeCollaborateForm-form {
    display: flex;
    flex-direction: column;

    margin-top: 48px;
    align-items: flex-start;

}



.HomeCollaborateForm-row {
    display: flex;


}

.HomeCollaborateForm-row .HomeCollaborateForm-field {
    flex-grow: 1;
}

.HomeCollaborateForm-field {
    margin: 16px 8px 0 0;

}

.HomeCollaborateForm-fieldInput {
    background-color: #002FCF;
    border: 0;
    margin: 8px 4px 0 0;
    height: 32px;
    outline: none;

}
.HomeCollaborateForm-fieldInput::placeholder {
    color: lightslategray;
    padding: 16px;

}

textarea.HomeCollaborateForm-fieldInput {
    display: block;
    width: 185%;
    resize: none;
    height: 100px;
    margin-bottom: 36px;

}
.HomeCollaborateForm-button {
    width: 164px;
    height: 42px;
    color: var(--backgroundAccent);
    font-weight: 700;
}
