.SectionWithAdvantageCards {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0 0px 100px 0px;
    color: white;

}

.SectionWithAdvantageCards-image {

    width: 48px;
    height: 48px;
}

.SectionWithAdvantageCards-text {
    color: dodgerblue;
}