.Section {
    background-color: var(--backgroundLight);
    color: rgb(0, 0, 0);

}

.Section_background_dark {
    background-color: var(--backgroundDark);
    color: rgb(255, 255, 255);
}

.Section_background_darkMedium {
    background-color: var(--backgroundDarkMedium);
    color: rgb(255, 255, 255);
}

.Section-container {
    max-width: var(--containerWidth);
    margin: 0 auto;
    padding: 40px 24px;
}
