* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --containerWidth: 960px;
  --backgroundAccent: blue;
  --backgroundDark: black;
  --backgroundDarkMedium: #14233D;
  --backgroundLight: white;
  --backgroundLightMedium: #e2e2e2;
  --backgroundHeader: #0A111E;
}
